#items .row {
    margin-bottom: 20px;
}
#picture-form .well {
    width: 400px;
}
#item-images .thumbnail {
    margin-bottom: 20px;
}

#edit-picture-form img {
    display: block;
    height: auto;
    max-width: 100%;
}