@CHARSET "UTF-8";
.manage-locations {
    width: 100%;
    height: 300px !important;
}
.user-locations a {
	margin-bottom: 9px;
}

.edit-unit-users {
    display: none;	
}
.edit-unit-users a {
    margin-right: 3px;	
}
.user-locations .row {
    margin-top: 8px;
    margin-bottom: 8px;
}
.filters > * {
    margin-right: 5px;
}